@page "/demoproduct"
@inherits BindProperty

<h3 class="text-primary">Demo Product </h3>
<p>Favorite Count :- @FavoriteCount</p>
<p>Product Name : @ProdName</p>
<div style="display:flex;flex-direction:row;width:100%;">
    @foreach (var prod in ProductList)
    {
        <ProductDetail Product="@prod" OnFavoriteUpdated="FavoriteCountChange" OnProdClick="ProdClick"></ProductDetail>
    }
</div>

@code {
    public int FavoriteCount { get; set; } = 0;
    public string ProdName { get; set; } = string.Empty;

    protected void FavoriteCountChange(bool isSelected) {
        if (isSelected)
        {
            FavoriteCount++;
        }
        else {
            FavoriteCount--;
        }
    }

    protected void ProdClick(string pName)
    {
        ProdName = pName;
    }
}
